<header id="header" class="fixed-top header-scrolled">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a href="/">HealthPlus</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="/patientlogin">Patient Login</a></li>
        <li><a class="nav-link scrollto" href="/doctorlogin">Doctor Login</a></li>
        <!-- <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
      </ul> <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <a href="#appointment" class="appointment-btn scrollto" style="color: white;text-decoration: none;"><span
        class="d-none d-md-inline">Make an</span> Appointment</a>
  </div>
</header>
<%- messages('messages', locals) %>