<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'bn,gu,hi,kn,ml,mr,ta,te,ur', autoDisplay: false, multilanguagePage: true }, 'google_translate_element');
    }
  </script>
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <link rel="stylesheet" href="../../stylesheets/chatbot.css">

</head>


<title>HealthPlus</title>

<style>
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
  }

  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgb(25 119 204 / 10%);
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .mr-auto {
    margin-right: auto !important;
  }

  .align-items-center {
    align-items: center !important;
  }

  .d-flex {
    display: flex !important;
  }

  @media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
      max-width: 960px;
    }
  }

  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

  #header .logo a {
    color: #2c4964;
    text-decoration: none;
  }

  a {
    color: #1977cc;
    text-decoration: none;
  }

  .navbar {
    padding: 0;
  }

  @media (min-width: 992px) {
    .order-lg-0 {
      order: 0 !important;
    }
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    /* align-items: center; */
  }

  .navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    /* color: #2c4964; */
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;
  }

  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #1977cc;
    border-color: #1977cc;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #2c4964;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;
  }

  .mobile-nav-toggle {
    color: #2c4964;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

  .appointment-btn {
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }

  .appointment-btn:hover {
    background: #055296;
  }

  a {
    text-decoration: none;
  }

  /*Fit image in bootstrap div*/
  .fit-image {
    width: 100%;
    object-fit: cover;
  }

  @media (min-width: 768px) {
    .d-md-flex {
      display: flex !important;
    }
  }

  .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  #google_translate_element,
  .skiptranslate {
    display: none;
  }
</style>

<%#- messages('../messages.ejs', locals) %>

  <div id="google_translate_element"></div>


  <!-- CHATBOT WINDOW -->
  <div class="chatbox">
    <div class="chatbox__support">
      <div class="chatbox__header">
        <div class="chatbox__image--header">
          <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
        </div>
        <div class="chatbox__content--header">
          <h4 class="chatbox__heading--header mb-0">HealthPlus Chatbot</h4>
          <!-- <p class="chatbox__description--header">Hi. My name is HP bot. How can I help you?</p> -->
        </div>
      </div>
      <div class="chatbox__messages" id="chatbox__messages__id">
        
          <div class="messages__item messages__item--visitor">
            Hello. My name is HP bot. How can I help you today?
          </div>
          <div class="messages__item messages__item--visitor">
            <button class="action-btn btn btn-outline-primary mb-2">Find nearby doctors</button>
            <button class="action-btn btn btn-outline-primary mb-2">Disease Predictor</button>
            <button class="action-btn btn btn-outline-primary">Ask FAQs about HealthPlus</button>
          </div>
           
      </div>
      <div class="chatbox__footer">
        <input type="text" placeholder="Write a message...">
        <button class="chatbox__send--footer send__button">Send</button>
      </div>
    </div>
    <div class="chatbox__button">
      <button><img style="width: 100%;" src="../images/websitePics/chatbot.png" /></button>
    </div>
  </div>

  <!-- GOOGLE TRANSLATE WINDOW -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-block">
          <h5 class="modal-title text-center" id="exampleModalLabel"></h5>
          Please select your preferred language below!
        </div>
        <form action="/setPrefLang" method="post">
          <div class="modal-body">

            <div class="form-group">
              <select class="form-control" name="language">
                <option value="0" selected>English</option>
                <option value="1">Bengali</option>
                <option value="2">Gujarati</option>
                <option value="3">Hindi</option>
                <option value="4">Kannada</option>
                <option value="5">Malayalam</option>
                <option value="6">Marathi</option>
                <option value="7">Punjabi</option>
                <option value="8">Sindhi</option>
                <option value="9">Tamil</option>
                <option value="10">Telugu</option>
                <option value="11">Urdu</option>
              </select>
            </div>


          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- body %>

    <% const user=typeof currentUser !=='undefined' && currentUser %>;
      <!-- making a variable in ejs so as to pass it to a script tag -->


      <script>
        const currUser = <%-JSON.stringify(user) %>;

        $(document).ready(function () {
          if (currUser && currUser.preferredLanguage == -1) {
            $("#exampleModal").modal("show");
          }

        })

        $(document).ready(function () {
          setTimeout(() => {
            if (!currUser || currUser.preferredLanguage == 0) {
              return
            }
            let a = document.querySelector(".goog-te-combo");
            console.log(a)

            a.selectedIndex = currUser.preferredLanguage;
            a.dispatchEvent(new Event('change'));
          }, 1300);
        })

      </script>

      <script src="../../javascripts/chatbot.js"></script>

</html>