<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrapcss_4.6.0.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <!-- <link rel="stylesheet" href="/stylesheets/fontawesome_6.2.1.css"> -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
  <script type="text/javascript" src="/javascripts/jquery_3.5.1.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrapjs_4.6.0.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script> -->

  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'bn,gu,hi,kn,ml,mr,ta,te,ur', autoDisplay: false, multilanguagePage: true }, 'google_translate_element');
    }
  </script>
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <link rel="stylesheet" href="../../stylesheets/chatbot.css">

</head>


<title>HealthPlus</title>

<style>
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
  }

  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgb(25 119 204 / 10%);
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .mr-auto {
    margin-right: auto !important;
  }

  .align-items-center {
    align-items: center !important;
  }

  .d-flex {
    display: flex !important;
  }

  @media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
      max-width: 960px;
    }
  }

  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

  #header .logo a {
    color: #2c4964;
    text-decoration: none;
  }

  a {
    color: #1977cc;
    text-decoration: none;
  }

  .navbar {
    padding: 0;
  }

  @media (min-width: 992px) {
    .order-lg-0 {
      order: 0 !important;
    }
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    /* align-items: center; */
  }

  .navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    /* color: #2c4964; */
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;
  }

  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #1977cc;
    border-color: #1977cc;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #2c4964;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;
  }

  .mobile-nav-toggle {
    color: #2c4964;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

  .appointment-btn {
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }

  .appointment-btn:hover {
    background: #055296;
  }

  a {
    text-decoration: none;
  }

  /*Fit image in bootstrap div*/
  .fit-image {
    width: 100%;
    object-fit: cover;
  }

  @media (min-width: 768px) {
    .d-md-flex {
      display: flex !important;
    }
  }

  .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  #google_translate_element,
  .skiptranslate {
    display: none;
  }
</style>

<%#- messages('../messages.ejs', locals) %>

  <div id="google_translate_element"></div>

  <!-- CHATBOT WINDOW -->
  <div class="chatbox">
    <div class="chatbox__support">
      <div class="chatbox__header">
        <div class="chatbox__image--header">
          <img src="../images/websitePics/circled-user-female-skin-type-5--v1.png" alt="image">
        </div>
        <div class="chatbox__content--header">
          <h4 class="chatbox__heading--header mb-0">HealthPlus Chatbot</h4>
          <!-- <p class="chatbox__description--header">Hi. My name is HP bot. How can I help you?</p> -->
        </div>
      </div>
      <div class="chatbox__messages" id="chatbox__messages__id">

        <div class="messages__item messages__item--visitor">
          Hello. My name is HP bot. How can I help you today?
        </div>
        <div class="messages__item messages__item--visitor">
          <button class="action-btn btn btn-outline-primary mb-2">Find nearby doctors</button>
          <button class="action-btn btn btn-outline-primary mb-2">Disease Predictor</button>
          <button class="action-btn btn btn-outline-primary">Ask FAQs about HealthPlus</button>
        </div>

      </div>
      <div class="chatbox__footer">
        <input id="chatInput" type="text" placeholder="Write a message..." onkeyup="search_symptoms()">
        <button class="chatbox__send--footer send__button">Send</button>
      </div>
    </div>
    <div class="chatbox__button">
      <button><img style="width: 100%;" src="../images/websitePics/chatbot.png" /></button>
    </div>
  </div>


  <div id="myDropdown" class="drop-content">
    <div class="container" id="container-dropdown">
      <!-- symptom suggestion boxes go here -->
    </div>
  </div>

  <!-- GOOGLE TRANSLATE WINDOW -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-block">
          <h5 class="modal-title text-center" id="exampleModalLabel"></h5>
          Please select your preferred language below!
        </div>
        <form action="/setPrefLang" method="post">
          <div class="modal-body">

            <div class="form-group">
              <select class="form-control" name="language">
                <option value="0" selected>English</option>
                <option value="1">Bengali</option>
                <option value="2">Gujarati</option>
                <option value="3">Hindi</option>
                <option value="4">Kannada</option>
                <option value="5">Malayalam</option>
                <option value="6">Marathi</option>
                <option value="7">Punjabi</option>
                <option value="8">Sindhi</option>
                <option value="9">Tamil</option>
                <option value="10">Telugu</option>
                <option value="11">Urdu</option>
              </select>
            </div>


          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- body %>

    <% const user=typeof currentUser !=='undefined' && currentUser %>;
      <!-- making a variable in ejs so as to pass it to a script tag -->


      <script>
        const currUser = <%-JSON.stringify(user) %>;

        $(document).ready(function () {
          if (currUser && currUser.preferredLanguage == -1) {
            $("#exampleModal").modal("show");
          }

        })

        $(document).ready(function () {
          setTimeout(() => {
            if (!currUser || currUser.preferredLanguage == 0) {
              return
            }
            let a = document.querySelector(".goog-te-combo");
            console.log(a)

            a.selectedIndex = currUser.preferredLanguage;
            a.dispatchEvent(new Event('change'));
          }, 1300);
        })

      </script>

      <script>

        var idk = document.getElementById('chatInput').value

        symptomslist = ['itching', 'skin_rash', 'nodal_skin_eruptions', 'continuous_sneezing', 'shivering', 'chills', 'joint_pain',
          'stomach_pain', 'acidity', 'ulcers_on_tongue', 'muscle_wasting', 'vomiting', 'burning_micturition', 'spotting_ urination',
          'fatigue', 'weight_gain', 'anxiety', 'cold_hands_and_feets', 'mood_swings', 'weight_loss', 'restlessness', 'lethargy',
          'patches_in_throat', 'irregular_sugar_level', 'cough', 'high_fever', 'sunken_eyes', 'breathlessness', 'sweating',
          'dehydration', 'indigestion', 'headache', 'yellowish_skin', 'dark_urine', 'nausea', 'loss_of_appetite', 'pain_behind_the_eyes',
          'back_pain', 'constipation', 'abdominal_pain', 'diarrhoea', 'mild_fever', 'yellow_urine',
          'yellowing_of_eyes', 'acute_liver_failure', 'fluid_overload', 'swelling_of_stomach',
          'swelled_lymph_nodes', 'malaise', 'blurred_and_distorted_vision', 'phlegm', 'throat_irritation',
          'redness_of_eyes', 'sinus_pressure', 'runny_nose', 'congestion', 'chest_pain', 'weakness_in_limbs',
          'fast_heart_rate', 'pain_during_bowel_movements', 'pain_in_anal_region', 'bloody_stool',
          'irritation_in_anus', 'neck_pain', 'dizziness', 'cramps', 'bruising', 'obesity', 'swollen_legs',
          'swollen_blood_vessels', 'puffy_face_and_eyes', 'enlarged_thyroid', 'brittle_nails',
          'swollen_extremeties', 'excessive_hunger', 'extra_marital_contacts', 'drying_and_tingling_lips',
          'slurred_speech', 'knee_pain', 'hip_joint_pain', 'muscle_weakness', 'stiff_neck', 'swelling_joints',
          'movement_stiffness', 'spinning_movements', 'loss_of_balance', 'unsteadiness',
          'weakness_of_one_body_side', 'loss_of_smell', 'bladder_discomfort', 'foul_smell_of_urine',
          'continuous_feel_of_urine', 'passage_of_gases', 'internal_itching', 'toxic_look_(typhos)',
          'depression', 'irritability', 'muscle_pain', 'altered_sensorium', 'red_spots_over_body', 'belly_pain',
          'abnormal_menstruation', 'dischromic_patches', 'watering_from_eyes', 'increased_appetite', 'polyuria', 'family_history', 'mucoid_sputum',
          'rusty_sputum', 'lack_of_concentration', 'visual_disturbances', 'receiving_blood_transfusion',
          'receiving_unsterile_injections', 'coma', 'stomach_bleeding', 'distention_of_abdomen',
          'history_of_alcohol_consumption', 'fluid_overload', 'blood_in_sputum', 'prominent_veins_on_calf',
          'palpitations', 'painful_walking', 'pus_filled_pimples', 'blackheads', 'scurring', 'skin_peeling',
          'silver_like_dusting', 'small_dents_in_nails', 'inflammatory_nails', 'blister', 'red_sore_around_nose',
          'yellow_crust_ooze']

        const symptomContainer = document.getElementById('container-dropdown')

        symptomslist.forEach(element => {
          const a = document.createElement("a")
          a.classList.add('dropdown-item')
          a.textContent = element
          symptomContainer.appendChild(a)
        });

        function search_symptoms() {
          // console.log('om')
          var idk = document.getElementById('chatInput').value
          // console.log(idk)
          // let idk = document.getElementById('searchbar').value
          idk = idk.toLowerCase();
          let x = document.getElementsByClassName('dropdown-item');

          for (i = 0; i < x.length; i++) {
            if (!x[i].innerHTML.toLowerCase().includes(idk)) {
              x[i].style.display = "none";
            }
            else {
              x[i].style.display = "inline-block";
            }
          }
        }

        const symptomSuggestBtns = document.getElementsByClassName('dropdown-item')

        for (const btn of symptomSuggestBtns) {
          btn.addEventListener("click", selectSuggestedSymptom);
        }

        function selectSuggestedSymptom(event) {
          // console.log('event')
          const symp = event.target.innerHTML
          document.getElementById('chatInput').value = symp
        }

      </script>

      <script src="../../javascripts/chatbot.js"></script>

</html>