<% layout('layouts/boilerplate') %>


    <!-- stylesheet links go here -->

    </head>

    <body>
        <%- include('partials/navbar')%>

            <!-- ALl content goes here -->
            <h1>TEST</h1>
            <h1>TEST</h1>
            <h1>TEST</h1>
            <h1>TEST</h1>

            <%- include('./partials/footer')%>
    </body>

    <script>
        // scripts if any
    </script>