<% layout('layouts/boilerplate') %>

    </head>

    <body>
        <%- include('partials/navbar')%>


            <!-- MultiStep Form -->
            <div class="container-fluid" id="grad1">
                <div class="row justify-content-center mt-0">
                    <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                            <h2><strong>Doctor Registration</strong></h2>
                            <p>Fill all form field to go to next step</p>
                            <div class="row">
                                <div class="col-md-12 mx-0">
                                    <form id="msform">
                                        <!-- progressbar -->
                                        <ul id="progressbar">
                                            <li class="active" id="account"><strong>Account</strong></li>
                                            <li id="personal"><strong>Verification</strong></li>
                                            <li id="payment"><strong>Upload</strong></li>
                                            <!-- <li id="confirm"><strong>Finish</strong></li> -->
                                        </ul>
                                        <!-- fieldsets -->
                                        <fieldset>
                                            <div class="form-card">
                                                <h2 class="fs-title">Account Information</h2><br>
                                                <input type="text" name="uname" id="uname" placeholder="Username*"
                                                    required="required" />
                                                <input type="text" name="fname" id="fname" placeholder="First Name*"
                                                    required="required" />
                                                <input type="text" name="lname" id="lname" placeholder="Last Name"
                                                    required="required" />
                                                <input type="text" name="contact" id="contact"
                                                    placeholder="Contact No.*" required="required" />
                                                <input type="email" name="email" id="email" placeholder="Email-Id*"
                                                    required="required" />
                                                <input type="password" name="pwd" id="pwd" placeholder="Password*"
                                                    required="required" />
                                                <input type="password" name="cpwd" id="cpwd"
                                                    placeholder="Confirm Password*" required="required" />
                                            </div>
                                            <input type="button" name="next" class="next action-button"
                                                value="Next Step" />
                                        </fieldset>
                                        <fieldset>
                                            <div class="form-card">
                                                <h2 class="fs-title">Verification Details</h2><br>
                                                <!-- <input type="text" name="fname" placeholder="First Name"/> -->
                                                <select class="list-dt" id="speciality" name="speciality">
                                                    <option selected disabled>Speciality*</option>
                                                    <option>Anatomical Pathology</option>
                                                    <option>Anesthesiology</option>
                                                    <option>Cardiology</option>
                                                    <option>Cardiovascular/Thoracic Surgery</option>
                                                    <option>Clinical Immunology/Allergy</option>
                                                    <option>Critical Care Medicine</option>
                                                    <option>Diagnostic Radiology</option>
                                                    <option>Emergency Medicine</option>
                                                    <option>Endocrinology and Metabolism</option>
                                                    <option>Family Medicine</option>
                                                    <option>Gastroenterology</option>
                                                    <option>General Internal Medicine</option>
                                                    <option>General Surgery</option>
                                                    <option>General/Clinical Pathology</option>
                                                    <option>Geriatric Medicine</option>
                                                    <option>Hematology</option>
                                                    <option>Medical Biochemistry</option>
                                                    <option>Medical Genetics</option>
                                                    <option>Medical Microbiology and Infectious Diseases</option>
                                                    <option>Medical Oncology</option>
                                                    <option>Nephrology</option>
                                                    <option>Neurology</option>
                                                    <option>Neurosurgery</option>
                                                    <option>Nuclear Medicine</option>
                                                    <option>Obstetrics/Gynecology</option>
                                                    <option>Occupational Medicine</option>
                                                    <option>Ophthalmology</option>
                                                    <option>Orthopedic Surgery</option>
                                                    <option>Otolaryngology</option>
                                                    <option>Pediatrics</option>
                                                    <option>Physical Medicine and Rehabilitation (PM & R)</option>
                                                    <option>Plastic Surgery</option>
                                                    <option>Psychiatry</option>
                                                    <option>Public Health and Preventive Medicine (PhPm)</option>
                                                    <option>Radiation Oncology</option>
                                                    <option>Respirology</option>
                                                    <option>Rheumatology</option>
                                                    <option>Urology</option>
                                                </select>
                                                <input type="number" name="exp" placeholder="Years of Experience*"
                                                    required="required" />
                                                <input type="number" name="fee" placeholder="Consultation Fee*"
                                                    required="required" />
                                                <input type="text" name="location" placeholder="Clinic Location*"
                                                    required="required" />
                                                <textarea name="desc" placeholder="Brief about yourself..*"
                                                    required="required"></textarea>
                                                <!-- <input type="text" name="phno_2" placeholder="" required="required"/> -->
                                            </div>
                                            <input type="button" name="previous" class="previous action-button-previous"
                                                value="Previous" />
                                            <input type="button" name="next" class="next action-button"
                                                value="Next Step" />
                                        </fieldset>
                                        <fieldset>
                                            <div class="form-card">
                                                <h2 class="fs-title">Upload Certificates</h2><br>
                                                <input type="file" name="certificate" placeholder="" />
                                                <!-- <div class="radio-group">
                                        <div class='radio' data-value="credit"><img src="https://i.imgur.com/XzOzVHZ.jpg" width="200px" height="100px"></div>
                                        <div class='radio' data-value="paypal"><img src="https://i.imgur.com/jXjwZlj.jpg" width="200px" height="100px"></div>
                                        <br>
                                    </div>
                                    <label class="pay">Card Holder Name*</label>
                                    <input type="text" name="holdername" placeholder=""/>
                                    <div class="row">
                                        <div class="col-9">
                                            <label class="pay">Card Number*</label>
                                            <input type="text" name="cardno" placeholder=""/>
                                        </div>
                                        <div class="col-3">
                                            <label class="pay">CVC*</label>
                                            <input type="password" name="cvcpwd" placeholder="***"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">Expiry Date*</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="list-dt" id="month" name="expmonth">
                                                <option selected>Month</option>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                            </select>
                                            <select class="list-dt" id="year" name="expyear">
                                                <option selected>Year</option>
                                            </select>
                                        </div>
                                    </div> -->
                                            </div>
                                            <input type="button" name="previous" class="previous action-button-previous"
                                                value="Previous" />
                                            <input type="button" name="make_payment" class="next action-button"
                                                value="Confirm" />
                                        </fieldset>
                                        <!-- <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Signed Up</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('./partials/footer')%>
    </body>

    <script>
        $(document).ready(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });

            $('.radio-group .radio').click(function () {
                $(this).parent().find('.radio').removeClass('selected');
                $(this).addClass('selected');
            });

            $(".submit").click(function () {
                return false;
            })

        });
    </script>