<% layout('layouts/boilerplate') %>

    <%- include('partials/navbar')%>

        <link rel="stylesheet" href="../stylesheets/home.css" />

        <section id="hero" class="d-flex align-items-center">
            <div class="container">
                <h1>Welcome to HealthPlus</h1>
                <h2>A one stop solution for all Medical problems</h2>
                <a href="/patientRegister" class="btn-get-started scrollto">Go to Patient Registration</a>
            </div>
        </section>

        <section id="counts" class="counts"><br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="count-box"> <i class="fa fa-user-md"></i>
                            <span data-purecounter-start="0" data-purecounter-end="08" data-purecounter-duration="0"
                                class="purecounter">08</span>
                            <p>Doctors</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="count-box"> <i class="fa fa-user"></i>
                            <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="0"
                                class="purecounter">18</span>
                            <p>Patients</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box"> <i class="fa fa-video"></i>
                            <span data-purecounter-start="0" data-purecounter-end="34" data-purecounter-duration="0"
                                class="purecounter">34</span>
                            <p>Virtual Meets</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box"> <i class="fa fa-robot"></i>
                            <span data-purecounter-start="0" data-purecounter-end="68" data-purecounter-duration="0"
                                class="purecounter">68</span>
                            <p>Chatbot Predictions</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About -->
        <section id="about" class="about">
            <div class="container-fluid">
                <div class="row">
                    <div
                        class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
                    </div>
                    <div
                        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                        <h3>Vision at HealthPlus</h3>
                        <p>We, at HealthPlus, have a very broad and clear vision towards the betterment of the society
                            keeping in mind their convenience, adaptability and affordability.</p>
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-fingerprint"></i></div>
                            <h4 class="title"><a href="">Connect Patients to Doctors</a></h4>
                            <p class="description">We are more concerned for people, less educated and the ones living
                                in remote areas due to their lack of medical reach. We aim to connect them with the best
                                doctors of their choice.</p>
                        </div>
                        <div class="icon-box">
                            <div class="icon">
                                <i class="fa fa-gift"></i>
                            </div>
                            <h4 class="title"><a href="">Privacy and Integrity</a></h4>
                            <p class="description">We try our best at providing a proper patient medical history
                                management system while preserving privacy and integrity for both doctors as well as
                                patient users.
                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-atom"></i></div>
                            <h4 class="title"><a href="">Certified Doctors</a></h4>
                            <p class="description">We have associaated with us only certified and licensed doctors right
                                from general medicine to mental health and much more and we also aim to provide
                                essential medical services at lowest possible cost.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    <h2>Services</h2>
                    <p>HealthPlus provides users with a plethora of services which makes it a unique and one-of-a-kind
                        online medical platform and their favourite go-to place for all types of medical problems.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-video"></i></div>
                            <h4><a href="" style="text-decoration: none">Video Call with Doctor</a></h4>
                            <p>A comfortable video calling session with your choice of doctor at a convenient time</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-comment-medical"></i></div>
                            <h4><a href="" style="text-decoration: none">Chat with Doctor</a></h4>
                            <p>A convenient chatting session with your choice of doctor at a convenient time</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-robot"></i></div>
                            <h4><a href="" style="text-decoration: none">Customised Disease Prediction</a></h4>
                            <p>Talk to the chatbot and get your disease predicted with high accuracy</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-database"></i></div>
                            <h4><a href="" style="text-decoration: none">Safe Medical Storage</a></h4>
                            <p>A safe storage of your medical record history and transaction details on our blockchain
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-user-nurse"></i></div>
                            <h4><a href="" style="text-decoration: none">Choose a Doctor</a></h4>
                            <p>You get to filter a doctor based on various criteria like his speciality, years of
                                experience, consultation fee, location, etc</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-user-check"></i></div>
                            <h4><a href="" style="text-decoration: none">Doctor Verification</a></h4>
                            <p>A doctor will be only assigned to you after his complete real-time background
                                verification</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Departments -->
        <section id="departments" class="departments">
            <div class="container">
                <div class="section-title">
                    <h2>Departments</h2>
                    <p>Entire medical structure is divided into several departments where each of them have their own
                        significance. Let's have a quick look at few of these</p>
                </div>
                <div class="row gy-4">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column" role="tablist">
                            <li class="nav-item" role="presentation"> <a class="nav-link show active"
                                    data-bs-toggle="tab" href="#tab-1" aria-selected="true" role="tab"
                                    tabindex="-1">Cardiology</a></li>
                            <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-2" aria-selected="false" role="tab" tabindex="-1">Neurology</a></li>
                            <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-3" aria-selected="false" tabindex="-1" role="tab">Hepatology</a></li>
                            <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-4" aria-selected="false" tabindex="-1" role="tab">Pediatrics</a></li>
                            <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-5" aria-selected="false" tabindex="-1" role="tab">Eye Care</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1" role="tabpanel">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Cardiology</h3>
                                        <p class="fst-italic">Cardiology is a branch of medicine that deals with
                                            disorders of the heart and the cardiovascular system.</p>
                                        <p>Cardiologists are specialists in diseases of the heart. The biggest area of
                                            heart disease treated is coronary artery disease e.g. angina. The diagnostic
                                            tests in cardiology are methods of identifying heart conditions associated
                                            with healthy vs. unhealthy, pathologic heart function.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2"> <img
                                            src="https://bootstrapmade.com/demo/templates/Medilab/assets/img/departments-1.jpg"
                                            alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2" role="tabpanel">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Et blanditiis nemo veritatis excepturi</h3>
                                        <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente
                                            dila parde sonata raqer a videna mareta paulona marka</p>
                                        <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et
                                            reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et
                                            velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto
                                            madirna desera vafle de nideran pal</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2"> <img
                                            src="https://bootstrapmade.com/demo/templates/Medilab/assets/img/departments-2.jpg"
                                            alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3" role="tabpanel">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                        <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non
                                            enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat
                                            perferendis aut</p>
                                        <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis
                                            quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima
                                            molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam.
                                            Soluta et harum voluptatem optio quae</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2"> <img
                                            src="https://bootstrapmade.com/demo/templates/Medilab/assets/img/departments-3.jpg"
                                            alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4" role="tabpanel">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                        <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure
                                            voluptas iure porro quis delectus</p>
                                        <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam
                                            necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in
                                            consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam
                                            quia a laborum inventore</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2"> <img
                                            src="https://bootstrapmade.com/demo/templates/Medilab/assets/img/departments-4.jpg"
                                            alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5" role="tabpanel">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                        <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro
                                            quia.</p>
                                        <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis
                                            recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui
                                            quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2"> <img
                                            src="https://bootstrapmade.com/demo/templates/Medilab/assets/img/departments-5.jpg"
                                            alt="" class="img-fluid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!-- Testimonials -->
        <section id="testimonials" class="testimonials">
            <div class="section-title">
                <h2>Testimonials</h2>
            </div>
            <div class="container-xl">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <h2>What <b>our customers</b> are saying</h2> -->
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <img src="	https://www.tutorialrepublic.com/examples/images/clients/1.jpg"
                                                    class="mr-3" alt="">
                                                <div class="media-body">
                                                    <div class="testimonial">
                                                        <p style="color: rgba(64, 61, 61, 0.827); font-size: 14px">
                                                            HealthPlus is a hassle-free medical platform where you can
                                                            get your consultation quickly, easily and quite precise.
                                                            Also, the chatbot is far more accurate than expected.</p>
                                                        <p class="overview"><b>Paula Wilson</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <img src="https://www.tutorialrepublic.com/examples/images/clients/2.jpg"
                                                    class="mr-3" alt="">
                                                <div class="media-body">
                                                    <div class="testimonial">
                                                        <p style="color: rgba(64, 61, 61, 0.827); font-size: 14px">
                                                            HealthPlus is amazing! We got truly unexpected results from
                                                            the platform. Love it!!</p>
                                                        <p class="overview"><b>Antonio Moreno</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <img src="https://www.tutorialrepublic.com/examples/images/clients/3.jpg"
                                                    class="mr-3" alt="">
                                                <div class="media-body">
                                                    <div class="testimonial">
                                                        <p style="color: rgba(64, 61, 61, 0.827); font-size: 14px">I
                                                            could get doctor consultation quite on time and very high
                                                            quality. Good work team HealthPlus</p>
                                                        <p class="overview"><b>Michael Holz</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <img src="https://www.tutorialrepublic.com/examples/images/clients/4.jpg"
                                                    class="mr-3" alt="">
                                                <div class="media-body">
                                                    <div class="testimonial">
                                                        <p style="color: rgba(64, 61, 61, 0.827); font-size: 14px">
                                                            Vestibulum quis quam ut magna consequat faucibus.
                                                            Pellentesque eget mi suscipit tincidunt. Utmtc tempus
                                                            dictum. Pellentesque virra.</p>
                                                        <p class="overview"><b>Mary Saveley</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <img src="https://www.tutorialrepublic.com/examples/images/clients/5.jpg"
                                                    class="mr-3" alt="">
                                                <div class="media-body">
                                                    <div class="testimonial">
                                                        <p style="color: rgba(64, 61, 61, 0.827); font-size: 14px">Lorem
                                                            ipsum dolor sit amet, consec adipiscing elit. Nam eusem
                                                            scelerisque tempor, varius quam luctus dui. Mauris magna
                                                            metus nec.</p>
                                                        <p class="overview"><b>Martin Sommer</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <img src="https://www.tutorialrepublic.com/examples/images/clients/6.jpg"
                                                    class="mr-3" alt="">
                                                <div class="media-body">
                                                    <div class="testimonial">
                                                        <p style="color: rgba(64, 61, 61, 0.827); font-size: 14px">
                                                            Vestibulum quis quam ut magna consequat faucibus.
                                                            Pellentesque eget mi suscipit tincidunt. Utmtc tempus
                                                            dictum. Pellentesque virra.</p>
                                                        <p class="overview"><b>John Williams</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Health Articles -->
        <br>
        <section id="health" class="health">
            <div class="section-title">
                <h2>Top Health Articles</h2>
            </div>
            <div class="s-static">
                <div class="content u-border__top--grey_2 u-border__bottom--grey_2 u-d__flex">
                    <div class="u-margin--30__top u-margin--30__bottom u-margin-auto__left u-margin-auto__right">
                        <div class="u-margin--20__top ">
                            <div class="s-static__card u-margin--10__right">
                                <div class="card--360 u-padding--20">
                                    <h3 class="u-margin--0 u-font--bold u-font--30">Read top articles from health
                                        experts</h3>
                                    <div class="u-t-c--black_1 u-font--14 u-margin--5__top">Health articles that keep
                                        you informed about good health practices and achieve your goals.</div>
                                    <button type="button" class="btn btn-primary u-margin--30__top">See all
                                        articles</button>
                                </div>
                            </div>
                            <div class="s-static__card u-margin--10__right u-margin--10__left">
                                <div class="card card--280"><a
                                        href="https://www.practo.com/healthfeed/12-coronavirus-myths-and-facts-that-you-should-be-aware-of-40556/post"
                                        class="card-link"></a>
                                    <div class="card__img--280x200"><a
                                            href="https://www.practo.com/healthfeed/12-coronavirus-myths-and-facts-that-you-should-be-aware-of-40556/post"><span
                                                class="LazyLoad is-visible"><img
                                                    src="https://www.practostatic.com/fit/5fd27b74d9477cb633445cf3f105078bbc479910"
                                                    alt="12 Coronavirus Myths and Facts That You Should Be Aware Of"
                                                    class="card__img obj-fit--cover"
                                                    style="background-color: rgb(215, 216, 226);"></span></a></div>
                                    <div
                                        class="u-font--12 u-font--bold u-t-c--green_1 u-t-uppercase u-margin--15__top u-font--bold">
                                        Coronavirus</div>
                                    <div class="u-margin--5__top">
                                        <h6 class="u-font--16 u-margin--0 u-font--bold ">12 Coronavirus Myths and Facts
                                            That You Should Be Aware Of</h6>
                                    </div>
                                    <div class="u-t-c--black_1 u-font--14 u-margin--10__top">Dr. Diana Borgio</div>
                                </div>
                            </div>
                            <div class="s-static__card u-margin--10__left">
                                <div class="card card--280"><a
                                        href="https://www.practo.com/healthfeed/eating-right-to-build-immunity-against-cold-and-viral-infections-40908/post"
                                        class="card-link"></a>
                                    <div class="card__img--280x200"><a
                                            href="https://www.practo.com/healthfeed/eating-right-to-build-immunity-against-cold-and-viral-infections-40908/post"><span
                                                class="LazyLoad is-visible"><img
                                                    src="https://www.practostatic.com/fit/bade52edc7fb158bf627216bf96c2b881a97f30c"
                                                    alt="Eating Right to Build Immunity Against Cold and Viral Infections"
                                                    class="card__img obj-fit--cover"
                                                    style="background-color: rgb(215, 216, 226);"></span></a></div>
                                    <div
                                        class="u-font--12 u-font--bold u-t-c--green_1 u-t-uppercase u-margin--15__top u-font--bold">
                                        Vitamins and Supplements</div>
                                    <div class="u-margin--5__top">
                                        <h6 class="u-font--16 u-margin--0 u-font--bold ">Eating Right to Build Immunity
                                            Against Cold and Viral Infections</h6>
                                    </div>
                                    <div class="u-t-c--black_1 u-font--14 u-margin--10__top">Dr. Diana Borgio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- abc -->
        <div class="customer-service">
            <div class="item" id="go-top">
                <i class="fa fa-chevron-circle-up fa-3x"></i>
            </div>
        </div>


        <%- include('partials/footer')%>


            <script>

                var $goTop = $('#go-top');
                var $customService = $('.customer-service');
                var customerMessage = $('#customer-message .message');

                $(window).scroll(function () {
                    var winHeight = $(window).height();
                    var scrollHeight = $(document).scrollTop();
                    if (scrollHeight > winHeight) {
                        $goTop.show();
                        $customService.css('bottom', '10px');
                    } else {
                        $goTop.hide();
                        $customService.css('bottom', '60px');
                    }
                });

                $goTop.click(function () {
                    $('html ,body').animate({ scrollTop: 0 }, 300);
                });

                if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) {
                    $('.customer-service').hide();
                } else {
                    $('.customer-service').show();
                }


                new Swiper('.testimonials-slider', {
                    speed: 600,
                    loop: true,
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: false
                    },
                    slidesPerView: 'auto',
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'bullets',
                        clickable: true
                    },
                    breakpoints: {
                        320: {
                            slidesPerView: 1,
                            spaceBetween: 20
                        },

                        1200: {
                            slidesPerView: 2,
                            spaceBetween: 20
                        }
                    }
                });
            </script>