<!DOCTYPE html>
<html lang="en-US">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'bn,gu,hi,kn,ml,mr,pa,sd,ta,te,ur', autoDisplay: false, multilanguagePage: true }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<style>
    #google_translate_element,
    .skiptranslate {
        display: none;
    }
</style>

<body>
    <div id="google_translate_element"></div>

    <p>This example displays a simple translate button, with no text.</p>
    <p>This example displays a simple translate button, with no text.</p>

    <div class="notranslate">
        <p>This is a paragraph.</p>
        <p>
            OMMMM

        </p>
    </div>

</body>

<script>
    $(document).ready(function () {
        setTimeout(() => {
            let a = document.querySelector(".goog-te-combo");
            console.log(a)
            a.selectedIndex = 1;
            a.dispatchEvent(new Event('change'));
        }, 1300);
    })



</script>


</html>