<!DOCTYPE html>
<html lang="en-US">

<head>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="//translate.google.com/#en/hi/Hello"></script>
</head>

<style>
    body>.skiptranslate {
        display: none;
    }

    .goog-te-banner-frame.skiptranslate {
        display: none !important;
    }

    body {
        top: 0px !important;
    }

    @media print {
        #google_translate_element {
            display: none;
        }
    }
</style>

<body>
    <div id="google_translate_element"></div>

    <p>This example displays a simple translate button, with no text.</p>
    <p>This example displays a simple translate button, with no text.</p>

    <div class="notranslate">
        <p>This is a paragraph.</p>
        <p>
            A particle is kept at rest at the top of a sphere of diameter \(42 m\). When disturbed slightly,
            it slides down. At what height \( h \) from the bottom, the particle will leave the sphere <br\>
                (a) \( 14m \)
                (b) \( 16m \)
                (c) \( 35m \)
                (d) \( 70m \)

        </p>
    </div>

</body>

</html>