<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="../stylesheets/registerChoice.css" />
    </head>

    <body>
        <%- include('partials/navbar')%>

            <br><br><br><br>
            <div class="container container1">
                <h2 class="mt-5 mb-5 text-center">Verify Prescription</h2>
                <form action="/verify_prescription" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Enter Prescription ID</label>
                        <input type="text" class="form-control" name="prescID">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <br><br><br><br>
                </form>
            </div>
            <br><br>

            <%- include('./partials/footer')%>
    </body>