* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*,
html {
   --primaryGradient: linear-gradient(93.12deg, #055296 0.52%, #1977cc 100%);
   --secondaryGradient: linear-gradient(
      268.91deg,
      #055296 -2.14%,
      #1977cc 99.69%
   );
   --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
   --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
   --primary: #055296;
}

/* CHATBOX
=============== */
.chatbox {
   /* position: absolute; */
   position: fixed;
   bottom: 15px;
   /* top: 25vh; */
   right: 14px;
   z-index: 20;
}

/* CONTENT IS CLOSE */
.chatbox__support {
   display: flex;
   flex-direction: column;
   background: #eee;
   z-index: -123456;
   display: none;
   transition: all 0.5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
   transform: translateY(-40px);
   z-index: 123456;
   display: flex;
}

/* BUTTON */
.chatbox__button {
   float: right;
   width: 90px;
   /* position: absolute; */
}

.send__button {
   padding: 6px;
   background: transparent;
   border: none;
   outline: none;
   cursor: pointer;
}

/* HEADER */
.chatbox__header {
   position: sticky;
   top: 0;
   background: orange;
}

/* MESSAGES */
.chatbox__messages {
   margin-top: auto;
   display: flex;
   /* min-height: 550px; */
   max-height: 550px;
   /* overflow-y: scroll; */
   overflow-y: auto;
   flex-direction: column;
}

.messages__item {
   background: orange;
   max-width: 60.6%;
   width: fit-content;
   word-wrap: break-word;
   font-family: Roboto;
}

.messages__item--operator {
   margin-left: auto;
}

.messages__item--visitor {
   margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
   position: sticky;
   bottom: 0;
}

.chatbox__support {
   background: #f9f9f9;
   height: 72vh;
   width: 450px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   /* overflow-y: scroll; */
}

/* HEADER */
.chatbox__header {
   background: var(--primaryGradient);
   display: flex;
   flex-direction: row;
   align-items: center;
   /* justify-content: center; */
   padding: 15px 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
   margin-right: 10px;
}

.chatbox__heading--header {
   font-size: 1.2rem;
   color: white;
}

.chatbox__description--header {
   font-size: 0.9rem;
   color: white;
}

/* Messages */
.chatbox__messages {
   padding: 0 20px;
}

.messages__item {
   margin-top: 10px;
   background: #e0e0e0;
   padding: 8px 12px;
   max-width: 70%;
   color: #000;
}

.messages__item--visitor,
.messages__item--typing {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}

.messages__item--operator {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   background: var(--primary);
   color: white;
}

/* FOOTER */
.chatbox__footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 20px 20px;
   background: var(--secondaryGradient);
   box-shadow: var(--secondaryBoxShadow);
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   margin-top: 20px;
}

.chatbox__footer input {
   width: 80%;
   border: none;
   padding: 10px 10px;
   border-radius: 30px;
   text-align: left;
}

.chatbox__send--footer {
   color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
   padding: 10px;
   background: white;
   border: none;
   outline: none;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
   cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   left: 40%;
}

#container-dropdown {
   /* min-width: 1130px;
   min-height: 200px; */
}

/* Dropdown Content (Hidden by Default) */
.drop-content {
   position: fixed;
   bottom: 15px;
   right: 111px;
   z-index: 10;
   width: 750px;
   height: 110px;
   display: none;
   background-color: #fdffff;

   text-shadow: 0px 1px 20px rgb(7, 97, 231);
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
   position: relative;
   min-width: 100px;
   text-align: center !important;
   width: auto !important;
   display: inline-block;
   cursor: pointer;

   clear: both;
   text-align: center;
   border: 0;

   margin: 10px !important;

   background-color: #fdffff;
   text-shadow: 0px 1px 20px rgba(3, 169, 244, 0.78);
   box-shadow: 0px 8px 16px 0px rgba(3, 169, 244, 0.05);

   line-height: 2;
   padding: 4px !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
   background-color: rgb(90, 181, 241);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container
  when the user clicks on the dropdown button) */
.show {
   display: inline-block;
}
