<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar')%>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
        rel='stylesheet'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>

    <section id="appointment" class="appointment section-bg">
        <div class="container">
            <div class="section-title">
                <h1>Book Appointment</h1>
                <p>Select your convenient date and time of appointment with appropriate mode of appointment along with
                    some personal details.</p>
            </div>

            <h2>Select date of appointment</h2> <br>
            <input autofocus class="form-control" style="width: 35%;" type="text" id="datepicker">
            <br><br>
            <button class="btn btn-primary" onclick="proceed()">Proceed</button>

        </div>
    </section>

    <script>
        const doctorid = <%-JSON.stringify(doctorid)%>

        $(function () {
            $("#datepicker").datepicker({ minDate: +1, maxDate: +7, dateFormat: 'dd-mm-yy' });
        });

        const proceed = () => {
            const pickedDate = document.getElementById('datepicker').value
            // console.log(pickedDate)
            window.location.href = `/${doctorid}&${pickedDate}`
        }


    </script>

    <style>
        *,
        ::after,
        ::before {
            box-sizing: border-box;
        }

        body {
            font-family: "Open Sans", sans-serif;
            color: #444444;
            margin: 0;
            text-align: var(--bs-body-text-align);
            background-color: var(--bs-body-bg);
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        #header {
            background: #fff;
            transition: all 0.5s;
            z-index: 997;
            padding: 15px 0;
            box-shadow: 0px 2px 15px rgb(25 119 204 / 10%);
        }

        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        .mr-auto {
            margin-right: auto !important;
        }

        .align-items-center {
            align-items: center !important;
        }

        .d-flex {
            display: flex !important;
        }

        @media (min-width: 992px) {

            .container,
            .container-lg,
            .container-md,
            .container-sm {
                max-width: 960px;
            }
        }

        #header .logo {
            font-size: 30px;
            margin: 0;
            padding: 0;
            line-height: 1;
            font-weight: 700;
            letter-spacing: 0.5px;
            font-family: "Poppins", sans-serif;
            text-decoration: none;
        }

        #header .logo a {
            color: #2c4964;
            text-decoration: none;
        }

        a {
            color: #1977cc;
            text-decoration: none;
        }

        .navbar {
            padding: 0;
        }

        @media (min-width: 992px) {
            .order-lg-0 {
                order: 0 !important;
            }
        }

        .navbar ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            /* align-items: center; */
        }

        .navbar>ul>li {
            position: relative;
            white-space: nowrap;
            padding: 8px 0 8px 20px;
        }

        .navbar a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 19px;
            /* color: #2c4964; */
            white-space: nowrap;
            transition: 0.3s;
            border-bottom: 2px solid #fff;
            padding: 5px 2px;
        }

        .navbar .active,
        .navbar .active:focus,
        .navbar li:hover>a {
            color: #1977cc;
            border-color: #1977cc;
        }

        .navbar li {
            position: relative;
        }

        .navbar a,
        .navbar a:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            color: #2c4964;
            white-space: nowrap;
            transition: 0.3s;
            border-bottom: 2px solid #fff;
            padding: 5px 2px;
        }

        .mobile-nav-toggle {
            color: #2c4964;
            font-size: 28px;
            cursor: pointer;
            display: none;
            line-height: 0;
            transition: 0.5s;
        }

        .appointment-btn {
            margin-left: 25px;
            background: #1977cc;
            color: #fff;
            border-radius: 50px;
            padding: 8px 25px;
            white-space: nowrap;
            transition: 0.3s;
            font-size: 14px;
            display: inline-block;
        }

        .appointment-btn:hover {
            background: #055296;
        }

        a {
            text-decoration: none;
        }

        .section-bg {
            background-color: #f1f7fd;
        }

        section {
            padding: 100px 0;
            overflow: hidden;
        }

        @media (min-width: 992px) {

            .container,
            .container-lg,
            .container-md,
            .container-sm {
                max-width: 960px;
            }
        }

        .container {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            width: 100%;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-right: auto;
            margin-left: auto;
        }

        .section-title {
            text-align: center;
            padding-bottom: 30px;
        }

        .section-title h2 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
            color: #2c4964;
        }

        .appointment .php-email-form {
            width: 100%;
        }

        .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-.5 * var(--bs-gutter-x));
            margin-left: calc(-.5 * var(--bs-gutter-x));
        }

        @media (min-width: 768px) {
            .col-md-4 {
                flex: 0 0 auto;
                width: 33.33333333%;
            }
        }

        .appointment .php-email-form input,
        .appointment .php-email-form select {
            height: 44px;
        }

        .appointment .php-email-form input,
        .appointment .php-email-form textarea,
        .appointment .php-email-form select {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
            padding: 10px !important;
        }

        .form-control {
            display: block;
            width: 100%;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            /* -webkit-appearance: none; */
            -moz-appearance: none;
            appearance: none;
            /* border-radius: 0.375rem; */
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .appointment .php-email-form .validate {
            display: none;
            color: red;
            margin: 0 0 15px 0;
            font-weight: 400;
            font-size: 13px;
        }

        .appointment .php-email-form .form-group {
            padding-bottom: 8px;
        }

        @media (min-width: 768px) {
            .col-md-4 {
                flex: 0 0 auto;
                width: 33.33333333%;
            }
        }

        @media (min-width: 768px) {
            .col-md-6 {
                flex: 0 0 auto;
                width: 50%;
            }
        }

        .mt-3 {
            margin-top: 1rem !important;
        }

        @media (min-width: 768px) {
            .mt-md-0 {
                margin-top: 0 !important;
            }
        }

        .appointment .php-email-form button[type=submit] {
            background: #1977cc;
            border: 0;
            padding: 10px 35px;
            color: #fff;
            transition: 0.4s;
            border-radius: 50px;
        }

        .appointment .php-email-form button[type=submit]:hover {
            background: #063a68;
        }

        ::placeholder {
            color: rgb(2, 2, 2);
        }

        /* input:focus::placeholder{
    color: #055296;
} */
    </style>